.boxstyle {
    border-style: solid;
    border-width: medium;
    width: 50px;
    height: 50px;
}

.red {
    background-color: red;
    width: 100%;
    height: 100%;
}

.green {
    background-color: green;
    width: 100%;
    height: 100%;
}

.yellow {
    background-color: yellow;
    width: 100%;
    height: 100%;
}